PM_B0_OFFSET=0x0
PM_B0_ADDRESS=0x0
PM_B0_END_ADDRESS=0x8000
PM_B0_SIZE=0x8000
PM_B0_NAME=b0
PM_B0_ID=0
PM_b0_ID=PM_B0_ID
PM_b0_IS_ENABLED=1
PM_0_LABEL=B0
PM_B0_CONTAINER_OFFSET=0x0
PM_B0_CONTAINER_ADDRESS=0x0
PM_B0_CONTAINER_END_ADDRESS=0x8000
PM_B0_CONTAINER_SIZE=0x8000
PM_B0_CONTAINER_NAME=b0_container
PM_B0_CONTAINER_ID=1
PM_b0_container_ID=PM_B0_CONTAINER_ID
PM_b0_container_IS_ENABLED=1
PM_1_LABEL=B0_CONTAINER
PM_B0_CONTAINER_SPAN="b0"
PM_MCUBOOT_SECONDARY_OFFSET=0x0
PM_MCUBOOT_SECONDARY_ADDRESS=0x0
PM_MCUBOOT_SECONDARY_END_ADDRESS=0xd0000
PM_MCUBOOT_SECONDARY_SIZE=0xd0000
PM_MCUBOOT_SECONDARY_NAME=mcuboot_secondary
PM_MCUBOOT_SECONDARY_ID=2
PM_mcuboot_secondary_ID=PM_MCUBOOT_SECONDARY_ID
PM_mcuboot_secondary_IS_ENABLED=1
PM_2_LABEL=MCUBOOT_SECONDARY
PM_S0_OFFSET=0x8000
PM_S0_ADDRESS=0x8000
PM_S0_END_ADDRESS=0x1c000
PM_S0_SIZE=0x14000
PM_S0_NAME=s0
PM_S0_ID=3
PM_s0_ID=PM_S0_ID
PM_s0_IS_ENABLED=1
PM_3_LABEL=S0
PM_S0_SPAN="mcuboot s0_pad"
PM_S0_PAD_OFFSET=0x8000
PM_S0_PAD_ADDRESS=0x8000
PM_S0_PAD_END_ADDRESS=0x8200
PM_S0_PAD_SIZE=0x200
PM_S0_PAD_NAME=s0_pad
PM_S0_PAD_ID=4
PM_s0_pad_ID=PM_S0_PAD_ID
PM_s0_pad_IS_ENABLED=1
PM_4_LABEL=S0_PAD
PM_MCUBOOT_OFFSET=0x8200
PM_MCUBOOT_ADDRESS=0x8200
PM_MCUBOOT_END_ADDRESS=0x1c000
PM_MCUBOOT_SIZE=0x13e00
PM_MCUBOOT_NAME=mcuboot
PM_MCUBOOT_ID=5
PM_mcuboot_ID=PM_MCUBOOT_ID
PM_mcuboot_IS_ENABLED=1
PM_5_LABEL=MCUBOOT
PM_S0_IMAGE_OFFSET=0x8200
PM_S0_IMAGE_ADDRESS=0x8200
PM_S0_IMAGE_END_ADDRESS=0x1c000
PM_S0_IMAGE_SIZE=0x13e00
PM_S0_IMAGE_NAME=s0_image
PM_S0_IMAGE_ID=6
PM_s0_image_ID=PM_S0_IMAGE_ID
PM_s0_image_IS_ENABLED=1
PM_6_LABEL=S0_IMAGE
PM_S0_IMAGE_SPAN="mcuboot"
PM_S1_OFFSET=0x1c000
PM_S1_ADDRESS=0x1c000
PM_S1_END_ADDRESS=0x30000
PM_S1_SIZE=0x14000
PM_S1_NAME=s1
PM_S1_ID=7
PM_s1_ID=PM_S1_ID
PM_s1_IS_ENABLED=1
PM_7_LABEL=S1
PM_S1_SPAN="s1_pad s1_image"
PM_S1_PAD_OFFSET=0x1c000
PM_S1_PAD_ADDRESS=0x1c000
PM_S1_PAD_END_ADDRESS=0x1c200
PM_S1_PAD_SIZE=0x200
PM_S1_PAD_NAME=s1_pad
PM_S1_PAD_ID=8
PM_s1_pad_ID=PM_S1_PAD_ID
PM_s1_pad_IS_ENABLED=1
PM_8_LABEL=S1_PAD
PM_S1_IMAGE_OFFSET=0x1c200
PM_S1_IMAGE_ADDRESS=0x1c200
PM_S1_IMAGE_END_ADDRESS=0x30000
PM_S1_IMAGE_SIZE=0x13e00
PM_S1_IMAGE_NAME=s1_image
PM_S1_IMAGE_ID=9
PM_s1_image_ID=PM_S1_IMAGE_ID
PM_s1_image_IS_ENABLED=1
PM_9_LABEL=S1_IMAGE
PM_MCUBOOT_PAD_OFFSET=0x30000
PM_MCUBOOT_PAD_ADDRESS=0x30000
PM_MCUBOOT_PAD_END_ADDRESS=0x30200
PM_MCUBOOT_PAD_SIZE=0x200
PM_MCUBOOT_PAD_NAME=mcuboot_pad
PM_MCUBOOT_PAD_ID=10
PM_mcuboot_pad_ID=PM_MCUBOOT_PAD_ID
PM_mcuboot_pad_IS_ENABLED=1
PM_10_LABEL=MCUBOOT_PAD
PM_MCUBOOT_PRIMARY_OFFSET=0x30000
PM_MCUBOOT_PRIMARY_ADDRESS=0x30000
PM_MCUBOOT_PRIMARY_END_ADDRESS=0x100000
PM_MCUBOOT_PRIMARY_SIZE=0xd0000
PM_MCUBOOT_PRIMARY_NAME=mcuboot_primary
PM_MCUBOOT_PRIMARY_ID=11
PM_mcuboot_primary_ID=PM_MCUBOOT_PRIMARY_ID
PM_mcuboot_primary_IS_ENABLED=1
PM_11_LABEL=MCUBOOT_PRIMARY
PM_MCUBOOT_PRIMARY_SPAN="mcuboot_pad app tfm"
PM_TFM_SECURE_OFFSET=0x30000
PM_TFM_SECURE_ADDRESS=0x30000
PM_TFM_SECURE_END_ADDRESS=0x38000
PM_TFM_SECURE_SIZE=0x8000
PM_TFM_SECURE_NAME=tfm_secure
PM_TFM_SECURE_ID=12
PM_tfm_secure_ID=PM_TFM_SECURE_ID
PM_tfm_secure_IS_ENABLED=1
PM_12_LABEL=TFM_SECURE
PM_TFM_SECURE_SPAN="mcuboot_pad tfm"
PM_APP_IMAGE_OFFSET=0x30200
PM_APP_IMAGE_ADDRESS=0x30200
PM_APP_IMAGE_END_ADDRESS=0x100000
PM_APP_IMAGE_SIZE=0xcfe00
PM_APP_IMAGE_NAME=app_image
PM_APP_IMAGE_ID=13
PM_app_image_ID=PM_APP_IMAGE_ID
PM_app_image_IS_ENABLED=1
PM_13_LABEL=APP_IMAGE
PM_APP_IMAGE_SPAN="tfm app"
PM_MCUBOOT_PRIMARY_APP_OFFSET=0x30200
PM_MCUBOOT_PRIMARY_APP_ADDRESS=0x30200
PM_MCUBOOT_PRIMARY_APP_END_ADDRESS=0x100000
PM_MCUBOOT_PRIMARY_APP_SIZE=0xcfe00
PM_MCUBOOT_PRIMARY_APP_NAME=mcuboot_primary_app
PM_MCUBOOT_PRIMARY_APP_ID=14
PM_mcuboot_primary_app_ID=PM_MCUBOOT_PRIMARY_APP_ID
PM_mcuboot_primary_app_IS_ENABLED=1
PM_14_LABEL=MCUBOOT_PRIMARY_APP
PM_MCUBOOT_PRIMARY_APP_SPAN="tfm app"
PM_TFM_OFFSET=0x30200
PM_TFM_ADDRESS=0x30200
PM_TFM_END_ADDRESS=0x38000
PM_TFM_SIZE=0x7e00
PM_TFM_NAME=tfm
PM_TFM_ID=15
PM_tfm_ID=PM_TFM_ID
PM_tfm_IS_ENABLED=1
PM_15_LABEL=TFM
PM_APP_OFFSET=0x38000
PM_APP_ADDRESS=0x38000
PM_APP_END_ADDRESS=0xeb000
PM_APP_SIZE=0xb3000
PM_APP_NAME=app
PM_APP_ID=16
PM_app_ID=PM_APP_ID
PM_app_IS_ENABLED=1
PM_16_LABEL=APP
PM_TFM_NONSECURE_OFFSET=0x38000
PM_TFM_NONSECURE_ADDRESS=0x38000
PM_TFM_NONSECURE_END_ADDRESS=0x100000
PM_TFM_NONSECURE_SIZE=0xc8000
PM_TFM_NONSECURE_NAME=tfm_nonsecure
PM_TFM_NONSECURE_ID=17
PM_tfm_nonsecure_ID=PM_TFM_NONSECURE_ID
PM_tfm_nonsecure_IS_ENABLED=1
PM_17_LABEL=TFM_NONSECURE
PM_TFM_NONSECURE_SPAN="app"
PM_FMFU_STORAGE_OFFSET=0xd0000
PM_FMFU_STORAGE_ADDRESS=0xd0000
PM_FMFU_STORAGE_END_ADDRESS=0x4d0000
PM_FMFU_STORAGE_SIZE=0x400000
PM_FMFU_STORAGE_NAME=fmfu_storage
PM_FMFU_STORAGE_ID=18
PM_fmfu_storage_ID=PM_FMFU_STORAGE_ID
PM_fmfu_storage_IS_ENABLED=1
PM_18_LABEL=FMFU_STORAGE
PM_NONSECURE_STORAGE_OFFSET=0xeb000
PM_NONSECURE_STORAGE_ADDRESS=0xeb000
PM_NONSECURE_STORAGE_END_ADDRESS=0x100000
PM_NONSECURE_STORAGE_SIZE=0x15000
PM_NONSECURE_STORAGE_NAME=nonsecure_storage
PM_NONSECURE_STORAGE_ID=19
PM_nonsecure_storage_ID=PM_NONSECURE_STORAGE_ID
PM_nonsecure_storage_IS_ENABLED=1
PM_19_LABEL=NONSECURE_STORAGE
PM_NONSECURE_STORAGE_SPAN="pgps"
PM_PGPS_OFFSET=0xeb000
PM_PGPS_ADDRESS=0xeb000
PM_PGPS_END_ADDRESS=0x100000
PM_PGPS_SIZE=0x15000
PM_PGPS_NAME=pgps
PM_PGPS_ID=20
PM_pgps_ID=PM_PGPS_ID
PM_pgps_IS_ENABLED=1
PM_20_LABEL=PGPS
PM_SETTINGS_STORAGE_OFFSET=0x4d0000
PM_SETTINGS_STORAGE_ADDRESS=0x4d0000
PM_SETTINGS_STORAGE_END_ADDRESS=0x4d2000
PM_SETTINGS_STORAGE_SIZE=0x2000
PM_SETTINGS_STORAGE_NAME=settings_storage
PM_SETTINGS_STORAGE_ID=21
PM_settings_storage_ID=PM_SETTINGS_STORAGE_ID
PM_settings_storage_IS_ENABLED=1
PM_21_LABEL=SETTINGS_STORAGE
PM_EXTERNAL_FLASH_OFFSET=0x4d2000
PM_EXTERNAL_FLASH_ADDRESS=0x4d2000
PM_EXTERNAL_FLASH_END_ADDRESS=0x2000000
PM_EXTERNAL_FLASH_SIZE=0x1b2e000
PM_EXTERNAL_FLASH_NAME=external_flash
PM_EXTERNAL_FLASH_ID=22
PM_external_flash_ID=PM_EXTERNAL_FLASH_ID
PM_external_flash_IS_ENABLED=1
PM_22_LABEL=EXTERNAL_FLASH
PM_PROVISION_OFFSET=0x0
PM_PROVISION_ADDRESS=0xff8108
PM_PROVISION_END_ADDRESS=0xff8388
PM_PROVISION_SIZE=0x280
PM_PROVISION_NAME=provision
PM_OTP_OFFSET=0x280
PM_OTP_ADDRESS=0xff8388
PM_OTP_END_ADDRESS=0xff83fc
PM_OTP_SIZE=0x74
PM_OTP_NAME=otp
PM_MCUBOOT_SRAM_OFFSET=0x0
PM_MCUBOOT_SRAM_ADDRESS=0x20000000
PM_MCUBOOT_SRAM_END_ADDRESS=0x2000a000
PM_MCUBOOT_SRAM_SIZE=0xa000
PM_MCUBOOT_SRAM_NAME=mcuboot_sram
PM_MCUBOOT_SRAM_SPAN="tfm_sram"
PM_SRAM_SECURE_OFFSET=0x0
PM_SRAM_SECURE_ADDRESS=0x20000000
PM_SRAM_SECURE_END_ADDRESS=0x2000a000
PM_SRAM_SECURE_SIZE=0xa000
PM_SRAM_SECURE_NAME=sram_secure
PM_SRAM_SECURE_SPAN="tfm_sram"
PM_TFM_SRAM_OFFSET=0x0
PM_TFM_SRAM_ADDRESS=0x20000000
PM_TFM_SRAM_END_ADDRESS=0x2000a000
PM_TFM_SRAM_SIZE=0xa000
PM_TFM_SRAM_NAME=tfm_sram
PM_NRF_MODEM_LIB_CTRL_OFFSET=0xa000
PM_NRF_MODEM_LIB_CTRL_ADDRESS=0x2000a000
PM_NRF_MODEM_LIB_CTRL_END_ADDRESS=0x2000a4e8
PM_NRF_MODEM_LIB_CTRL_SIZE=0x4e8
PM_NRF_MODEM_LIB_CTRL_NAME=nrf_modem_lib_ctrl
PM_NRF_MODEM_LIB_SRAM_OFFSET=0xa000
PM_NRF_MODEM_LIB_SRAM_ADDRESS=0x2000a000
PM_NRF_MODEM_LIB_SRAM_END_ADDRESS=0x2000c4e8
PM_NRF_MODEM_LIB_SRAM_SIZE=0x24e8
PM_NRF_MODEM_LIB_SRAM_NAME=nrf_modem_lib_sram
PM_NRF_MODEM_LIB_SRAM_SPAN="nrf_modem_lib_ctrl nrf_modem_lib_tx nrf_modem_lib_rx"
PM_SRAM_NONSECURE_OFFSET=0xa000
PM_SRAM_NONSECURE_ADDRESS=0x2000a000
PM_SRAM_NONSECURE_END_ADDRESS=0x20040000
PM_SRAM_NONSECURE_SIZE=0x36000
PM_SRAM_NONSECURE_NAME=sram_nonsecure
PM_SRAM_NONSECURE_SPAN="sram_primary nrf_modem_lib_ctrl nrf_modem_lib_tx nrf_modem_lib_rx"
PM_NRF_MODEM_LIB_TX_OFFSET=0xa4e8
PM_NRF_MODEM_LIB_TX_ADDRESS=0x2000a4e8
PM_NRF_MODEM_LIB_TX_END_ADDRESS=0x2000b4e8
PM_NRF_MODEM_LIB_TX_SIZE=0x1000
PM_NRF_MODEM_LIB_TX_NAME=nrf_modem_lib_tx
PM_NRF_MODEM_LIB_RX_OFFSET=0xb4e8
PM_NRF_MODEM_LIB_RX_ADDRESS=0x2000b4e8
PM_NRF_MODEM_LIB_RX_END_ADDRESS=0x2000c4e8
PM_NRF_MODEM_LIB_RX_SIZE=0x1000
PM_NRF_MODEM_LIB_RX_NAME=nrf_modem_lib_rx
PM_SRAM_PRIMARY_OFFSET=0xc4e8
PM_SRAM_PRIMARY_ADDRESS=0x2000c4e8
PM_SRAM_PRIMARY_END_ADDRESS=0x20040000
PM_SRAM_PRIMARY_SIZE=0x33b18
PM_SRAM_PRIMARY_NAME=sram_primary
PM_NUM=23
PM_ALL_BY_SIZE="otp mcuboot_pad s0_pad s1_pad provision nrf_modem_lib_ctrl nrf_modem_lib_rx nrf_modem_lib_tx settings_storage nrf_modem_lib_sram tfm b0 b0_container tfm_secure tfm_sram mcuboot_sram sram_secure mcuboot s1_image s0_image s0 s1 pgps nonsecure_storage sram_primary sram_nonsecure app tfm_nonsecure app_image mcuboot_primary_app mcuboot_secondary mcuboot_primary fmfu_storage external_flash"